<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{newList.title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label floating>New Item {{newItemTask}}</ion-label>
            <ion-input [(ngModel)]="newItemTask" type="text" (keyup.enter)='addItem(newItemTask)'></ion-input>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="newList.items.length > 0">
        <ion-list-header>
            Tasks TODO
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of newList.items; let i = index" class='animated fadeInDown'>
            <button ion-item (click)='checkTask(item)'>
              <ion-icon *ngIf="!item.completed" name="square-outline" item-start></ion-icon>
              <ion-icon *ngIf="item.completed" name="checkbox-outline" item-start></ion-icon>
              <p>{{item.description}}</p>
            </button>
            <ion-item-options side="right">
                <button (click)='deleteItem(i)' icon-only ion-button color="danger">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>